<div  class="container-fluid">
	<div class="row justify-content-center">	
		<div  class="col-8-md-4  slide">


			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				 </ol>
				<div class="carousel-inner">
					   <div class="carousel-item active">
					      <img src="../../page-home/slide1.jpeg" class="img-fluid d-block w-100 h-40" alt="...">
					   </div>
					   <div class="carousel-item">
					      <img src="../../page-home/slide2.jpeg" class="img-fluid d-block w-100 h-40" alt="...">
					   </div>
					   <div class="carousel-item">
					      <img src="../../page-home/slide3.jpeg" class=" img-fluid d-block w-100 h-40" alt="...">
					   </div>
				 </div>
				  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only"></span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only"></span>
				  </a>
			</div>	  
		</div>		  
	</div>
</div>