<div style="padding: 50px;" class="container">
	<div  class="row">
		<div class="col-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-6">
							</div>
							<div class="col-6">
								<a href="/">
								<button  style="font-size: 12px;"  type="button" class="btn btn-primary btn-sm btn-block">
									<span   class="glyphicon glyphicon-share-alt"></span> Continue comprando
								</button>
								</a>
							</div>
						</div>
					</div>
				</div>



				<div class="panel-body">
					<div class="row">
						<div class="col-2"><img class="img-responsive" src="http://placehold.it/100x70">
						</div>
						<div class="col-4">
							<h6 class="product-name"><strong>Sem Produtos</strong></h4><h4><small></small></h6>
						</div>
						<div class="col-6">
							<div class="col-6 text-right">
							</div>
							<div class="col-4">
								<input style="margin-top: 10px;" type="text" class="form-control input-sm" value="1">
							</div>
							<div class="col-2">
								<button  type="button" class="btn btn-link btn">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>
		
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-9">
							<h6 class="text-right">Total <strong>$0.00</strong></h6>
						</div>
						<div class="col-3">
							<button type="button" style="font-size: 12px;" class="btn btn-success btn-block">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
