<div class="container-fluid">
	<div style="margin-top:30px" class="row justify-content-center ">
		<div class="col-6  produtos_destaque">
			<img class="img-fluid" alt="Responsive image"  src="../../page-home/produtos_destaque.png">
		</div>
		<div class="col-6 produtos_destaque">
			<img class="img-fluid" alt="Responsive image"  src="../../page-home/produtos_destaque2.png">
        </div>
</div>