<%- include('partials/header.ejs')%>
<body>
<%- include('partials/carrousel.ejs')%>

<div class="container-fluid justify-content-center  ">
        <div class="row md-12 justify-content-center ">
            <div class="col-md-8  plx2 ">
                <span style="color: #728C42;" class="plx_logo logo ">Venon </span><span class="plx_logo logo" style="color: white;"> * Net</span>
            </div>
            <div style="margin-top:30px;" class="col-md-3">
                <img  class="" style="width: 430px; height: 500px; " alt="Responsive image" src="../../page-home/destaque1.png">
             
            </div>
        </div>

    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class=" plx_texto ">
            <p>Treinar é viver. Tem coisa melhor do sentir a evolução do esforço no nosso corpo? </br> <span style="color: red;"> - Vem com a Venon que sua dor tera Resultado</p></span>
            </div>
            <div class="destaque ">
                Clique na imagem para receber dicas de saude

            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-7  plx_3_texto ">
            <span style="color: black;" class=" plx_logo_2 ">Venon </span><span class=" plx_logo_2 " style="color: white;"> * Net</span>
            <p>	    A ideia de começar esse projeto veio das necessidades que os donos
                sentiram quando utilizaram o sistema de diversos sites que não propuseram ou desagregaram com as informações sobre suplementos/alimentação saudável, a Venon.net entrou no mercado justamente para isso, suprir as dificuldades e dúvidas de muitas pessoas que querem ter (ou que já tem) uma vida fitness. 
                <a href='index.php?pg=quem_somos.php'><button>Quem somos</button></a>
            </p>     
        </div>
        <div class="col  img-fluid plx3 ">
            
        </div>
    </div>
</div>

    <%- include('partials/Featured.ejs')%>
</body>
<%- include('partials/footer.ejs')%>
<style>
.destaque{
   	width: 22.5em; 
    background-color: #728C42 ;
    text-align: center;
    height: 100px;
    padding-top: 20px;
    color:red;
    font-size:20px;
    font-family: 'Gagalin';
    word-spacing: 0.1em;
}
.plx1{
background-image: url('../page-home/paralax1.png');
color: wheat;
height: 250px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
.plx_logo{
    font-size: 100px;
    background-color: black;
    width: 500px;
    height: 500px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.plx2{
    font-size: 10em;
    margin-top: 30px;
    background-image: url('../page-home/paralax2.png');
    color: wheat;
    background-size: contain;
    font-family: 'Gagalin';
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.plx_texto{
    padding: 10px 10px 10px 10px;
    margin-left: 3.5em; 		 
    width: 70.4em;
    background-color: #728C42 ;
    text-align: center;
    height: 100px;
    
}
.plx_texto p{
    color:white;
    font-size:20px;
    font-family: 'Gagalin';
    word-spacing: 0.1em;

}
.plx3{
    background-image: url('../page-home/ts1.jpg');
    color: wheat;
    height: 45em;
    background-size: contain;
    background-attachment: fixed;
    margin-top: 10px;
    margin-right: 10px;
    background-position: 100%;
    border-radius: 5px;
 }

.plx_3_texto{
    background-color:  #728C42;
    margin-top: 10px;
    font-family: 'Gagalin';
    font-size: 1.7em;
    height: 20em;
    padding: 10px;
    color:black;
    margin-right: 10px;
    margin-left: 3.1em; 		 

}

.plx_3_texto p {
    padding-top: 40px;
    padding-left: 1em;
    color:white;
    padding-bottom: 1em;
    background-color: olivedrab;
}
.plx_logo_2{
    font-size: 60px;
} 
  
</style>